<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&amp;family=Cinzel:wght@500&amp;family=Roboto:wght@300&amp;family=Poppins:wght@500;600;800&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
     <!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">-->
     <link rel="stylesheet" href="../static/css/style.css">
    <title>Stress Questionnaire</title>
</head>
<body>
<div class="q-container">
    <form action="/stress" method="post">
    <div class="question">
        <div class="top-que">
            <span class="que">I found myself getting upset by quite trivial things.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose1" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose1" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose1" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose1" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I tended to over-react to situations.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose2" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose2" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose2" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose2" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I found it difficult to relax.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose3" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose3" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose3" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose3" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I found myself getting upset rather easily.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose4" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose4" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose4" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose4" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I felt that I was using a lot of nervous energy.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose5" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose5" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose5" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose5" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I found myself getting impatient when I was delayed in any way (eg, elevators, traffic lights, being kept waiting).</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose6" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose6" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose6" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose6" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I felt that I was rather touchy.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose7" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose7" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose7" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose7" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I found it hard to wind down.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose8" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose8" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose8" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose8" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I found that I was very irritable.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose9" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose9" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose9" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose9" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I found it hard to calm down after something upset me.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose10" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose10" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose10" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose10" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I found it difficult to tolerate interruptions to what I was doing.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose11" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose11" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose11" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose11" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I was in a state of nervous tension.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose12" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose12" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose12" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose12" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I was intolerant of anything that kept me from getting on with what I was doing.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose13" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose13" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose13" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose13" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>

    <div class="question">
        <div class="top-que">
            <span class="que">I found myself getting agitated.</span>
        </div>
        <div class="options">
            <div class="opt">
                <input type="radio" id="one" name="choose14" value="0">
                <label for="one">Did not apply to me at all</label>
            </div>
            <div class="opt">
                <input type="radio" id="two" name="choose14" value="1">
                <label for="two">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="three" name="choose14" value="2">
                <label for="three">Applied to me to some degree, or some of the time</label>
            </div>
            <div class="opt">
                <input type="radio" id="four" name="choose14" value="3">
                <label for="four">Applied to me very much, or most of the time</label>
            </div>
        </div>
    </div>
    <div class="sh-result">
        <input type="submit" class="result" value="Show Result">
    </div>
    </form>
</div>
</body>
</html>